doctype html
html
  head
    title My App
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/stylesheets/bootstrap-4.1.3.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-3.3.1.min.js')  
    script(src='/javascripts/bootstrap-4.1.3.min.js')
    script(src='/javascripts/fontawesome-all-5.0.8.js')
    script(src='/javascripts/jquery.form-validator.min.js')        
  body
    na.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navbar-brand(href='https://github.com/shoul10/' target='_blank') My App
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerMyApp', aria-controls='navbarTogglerMyApp', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarTogglerMyApp.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          li.nav-item.active
            a.nav-link(href='/')
              i.fas.fa-home
              |  Home              
              span.sr-only (current)
          if user
            li.nav-item.active
              a.nav-link(href='/secure')
                i.fas.fa-lock
                |  Secure              
        ul.nav.navbar-nav.navbar-right
            if user
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | #{user.name}
                .dropdown-menu(aria-labelledby='navbarDropdown')      
                  a.dropdown-item(href='/users/logout') 
                    i.fas.fa-sign-out-alt  
                    |  Log out                                                      
            else                                
              li
                a.nav-link(href='/users/login') 
                  i.fas.fa-sign-in-alt
                  |  Log in
              li
                a.nav-link(href='/users/register') 
                    i.fas.fa-user-plus 
                    |  Register        
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger" role="alert") #{error.msg}
      block content
    br
    hr
    footer
      p Copyright &copy; 2019
